<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymelaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/salvar}" th:object="${novoJogo}" method="post" >
    Nome: <input type="text" th:field="*{nome}"/> <br>
    Descricao: <input type="text" th:field="*{descricao}"/> <br>
    Categoria: <input type="text" th:field="*{categoria}"/> <br>
    Ano Lançamento: <input type="text" th:field="*{anoLancamento}"/> <br>

    <button type="submit">Cadastrar</button>
</form>

</body>
</html>